.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-container {
    display: flex;
    padding: 10px;
}
.contactHeaders {
    color: #70563a;
    font-size: 40px;
    text-align: center;
    text-decoration: underline #70563a 2px;
    text-underline-offset: 8px;
    width: 100%;
    padding: 50px;
    margin: 50px 0 0 0;
    border: 1px solid red;
}

.addressHeader:hover {
    color: gold;
}

.subHeaders {
    color: rgba(112, 86, 58, .8);
    font-size: 25px;
}

.subsubHeader {
    font-size: 20px;
    color: rgba(112, 86, 58, 1);
    opacity: 2;
}


.socialIcon {
    padding: 10px;
}

.socialIcon:hover {
    color: red;
}

/* Media Query */
@media (max-width: 768px){
    .social-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
}


@media (min-width: 600px) and (max-width: 960px){
    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
