.logo {
    width: 100px
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


.menu {
    display: flex;
    align-items: center;
}

.menu li {
    padding: 1rem;
    font-size: 16px;
}

.menu li:hover {
    color: gold;
    cursor: pointer;
}

.navbar a {
    font-size: 16px;
}


